version: '3.7'
services:  
  kibana:
    image: kibana:{{ kibana.version }}
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://es.dip.lom:{{ elasticsearch.port }}
    volumes:
      - /etc/kibana/config:/home/kibana/config
    ports:
      - {{ kibana.port }}:5601